{% for item in include.array limit: include.limit %}
{% if forloop.first %}
<div class="row">
{% endif %}
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      {% if item.image %}
      <a href="{{item.url}}"><img class="card-img-top" src="{{item.image}}" alt=""></a>
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{item.url}}">{{item.title}}</a>
        </h4>
        <p class="card-text">{{item.excerpt}}</p>
      </div>
    </div>
  </div>
{% if forloop.last %}
</div>
{% endif %}
{% endfor %}
