---
layout: page
disableimage: true
---

<!-- Intro Content -->
<div class="row">
  {% if page.image %}
  <div class="col-lg-6">
    <img class="img-fluid rounded mb-4" src="{{ page.image }}" alt="">
  </div>
  {% endif %}
  <div class="col-lg-6">
    <h2>About {{site.title}}</h2>
    {{content}}
  </div>
</div>
<!-- /.row -->

<!-- Team Members -->
<h2>Our Team</h2>
{% for rank in site.data.ranks %}
{% assign staff = site.staff | where:"rank",rank.id %}
{% for member in staff %}
{% if forloop.first %}
<h3>{% include rank.html rank=rank.id force=true %}</h3>
<div class="row">
{% endif %}
  <div class="col-lg-5 mb-3">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="https://crafatar.com/renders/head/{{member.uuid}}?scale=10&overlay" alt="">
      <div class="card-body">
        <h4 class="card-title">{% include username.html rank=member.rank user=member.title %}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{% include rank.html rank=member.rank %}</h6>
        <p class="card-text">{{ member.content }}</p>
      </div>
      <!--<div class="card-footer">
        <a href="#">name@example.com</a>
      </div>-->
    </div>
  </div>
{% if forloop.last %}
</div>
<!-- /.row -->
{% endif %}
{% endfor %}
{% endfor %}

<!-- Our Customers
<h2>Our Customers</h2>
<div class="row">
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
</div> -->
<!-- /.row -->
