---
layout: page
---

<!-- Intro Content -->
<div class="row">
  <div class="col-lg-6">
    <h2>About {{site.title}}</h2>
    {{content}}
  </div>
</div>
<!-- /.row -->

<!-- Team Members -->
<h2>Our Team</h2>

<div class="row">
  {% for staff in site.staff %}
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="https://crafatar.com/renders/head/{{staff.uuid}}?scale=10&overlay" alt="">
      <div class="card-body">
        <h4 class="card-title">{{ staff.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{% include rank.html rank=staff.rank %}</h6>
        <p class="card-text">{{ staff.content }}</p>
      </div>
      <!--<div class="card-footer">
        <a href="#">name@example.com</a>
      </div>-->
    </div>
  </div>
  {% endfor %}
</div>
<!-- /.row -->

<!-- Our Customers
<h2>Our Customers</h2>
<div class="row">
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
  <div class="col-lg-2 col-sm-4 mb-4">
    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
  </div>
</div> -->
<!-- /.row -->
